body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.text-center{
  text-align: center;
}

p {
  font-size: calc(10px + 1vw);
}

.main{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  color: black;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
  background-color: rgb(236, 235, 234);
  z-index: 2;
}

.bg-intro{
  width: 100%;
  height: 100%;
  background-repeat: none;
  background-size: cover;
  opacity: 0.2;
}

.title{
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.title-box{
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.header{
  position: absolute;
  display: flex;
  width: 100vw;
  text-align: center;
  color: black;
  top: 1vh;
  left: 0;
  height: 10vh;
}

.header h1 {
  align-self: center;
  margin: auto;
  font-size: calc(10px + 2vw) !important;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}

.button {
  background-color: lightgrey;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 1px;
  border-radius: 5pt;
  height: calc(25px + 1.2vw);
  width: calc(25px + 1.2vw);
}

/* .left-box p {
  font-size: 1.5em;
} */
.split-container {
  position: absolute;
  justify-content: space-around;
  display: flex;
  height: 75vh;
  width: 100vw;
  top: 15vh;
  padding: 0 50px;
}

.left-box{
  /* position: absolute; */
  display: flex;
  flex: 1;
  width: calc(33vw - 60px); 
  left: 50px;
  top: 15vh;
  height: 75vh;
  padding: 0 0px 0 50px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.left-text-container {
  position: relative;
  margin: auto
}

.right-box{
  /* position: absolute; */
  /* display: flex; */
  flex: 2;
  width: calc(66vw - 60px);
  top: 15vh;
  right: 50px;
  height: 75vh;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
}

.img-box{
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  object-position: 50% 50%;
  object-fit: contain;
  flex-direction: column;
  justify-content: center;
}

.img-right-box {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-right-box img{
  max-height: 100%;
  max-width: 100%;
}

.rightArrow{
  position:absolute;
  right: 10px;
  top: 50%;
  z-index: 999;
}

.leftArrow{
  position:absolute;
  left: 10px;
  top: 50%;
  z-index: 999;
}

button:disabled {
  background-color: azure;
  opacity: 0.4;
}

.content-box{
  position: absolute;
  width: 80%;
  height: 80%;
  padding: 0 20px;
  top: 15%;
  left: 10%;
  /* object-fit: contain; */
}

.content-images {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  object-fit: contain;
}

.imgArray-box{
  flex: 1;
  padding: 0 10px;
  position: relative;
  object-fit: contain;
}

.imgArray-box img{
  border: double black;
  width: 100%;
}

.content-text {
  height: 100%;
  width: 100%;
  padding: 50px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  object-fit: contain;
}

.text{
  flex: 1,
}

/* .content-box p {
  font-size: 1.7em;
} */

.content-box li {
  font-size: 1.5em;
}

.cover {
  height: 100%;
  width: 100%;
  /* background-color: rgb(218, 216, 214); */
}

.embed-box{
  position: relative;
  height: 100%;
  width: 100%;
}